.htaccess
wp-activate.php
readme.html
license.txt
wp-cron.php
wp-config.php
wp-config-sample.php
wp-comments-post.php
wp-blog-header.php
xmlrpc.php
wp-trackback.php
wp-signup.php
wp-settings.php
wp-mail.php
wp-login.php
wp-load.php
wp-links-opml.php
wp-admin/
wp-content/plugins/akismet/
wp-content/plugins/classic-editor/
wp-content/plugins/contact-form-7/
wp-content/plugins/customizer-export-import/
wp-content/plugins/duplicator/
wp-content/plugins/easy-theme-and-plugin-upgrades/
wp-content/plugins/hello-dolly/
wp-content/plugins/js_composer/
wp-content/plugins/meta-box/
wp-content/plugins/redux-framework/
wp-content/plugins/regenerate-thumbnails/
wp-content/plugins/widget-importer-exporter/
wp-content/plugins/wordpress-importer/
wp-content/plugins/wordpress-seo/
wp-content/themes/twentyfifteen/
wp-content/themes/twentynineteen/
wp-content/uploads/
wp-includes/
wp-snapshots/
wp-content/plugins/envato-theme-check-master/
wp-content/plugins/debug-bar/
wp-content/themes/twentyseventeen/
wp-content/plugins/hello.php
wp-content/plugins/monster-widget/
wp-content/plugins/elementor/
wp-content/plugins/woocommerce/
wp-content/plugins/page-or-post-clone/
wp-content/plugins/backups-dup-lite/
wp-content/themes/twentytwenty/
wp-content/themes/twentytwentyone/
