html {
  direction: rtl;
}
.wpcf7-form {
  direction: rtl;
}
body {
  direction: rtl;
  unicode-bidi: embed;
  text-align: right;
}
body.rtl .sc-menu ul ul a,
body.rtl .sc-contact-box,
body.rtl .main-content {
  text-align: right;
}
body.rtl .offwrap {
  left: auto;
  right: 100%;
}
body.rtl.off-open .offwrap {
  right: 0%;
  left: auto;
}
body.rtl.woocommerce ul.products li.product .images-product .overley .winners-details .product-info {
  left: 30px;
  right: auto;
}
body.rtl .woocommerce-MyAccount-navigation ul {
  margin: 0;
}
body.rtl .wpcf7 input[type="url"],
body.rtl .wpcf7 input[type="email"],
body.rtl .wpcf7 input[type="tel"] {
  direction: rtl;
}
body.rtl .owl-carousel,
body.rtl .slick-slider,
body.rtl .bx-wrapper {
  direction: ltr;
}
body.rtl .owl-carousel .owl-item,
body.rtl .slick-slide {
  direction: rtl;
}
body.rtl blockquote {
  text-align: right;
}
body.rtl #scrollUp {
  left: 30px;
  right: auto;
}
body.rtl .woocommerce .col2-set .col-1,
body.rtl .woocommerce-page .col2-set .col-1 {
  float: right;
}
body.rtl #content div.product div.summary,
body.rtl div.product div.summary,
body.rtl .cart_totals h2,
body.rtl #content div.product div.summary,
body.rtl div.product div.summary,
body.rtl .woocommerce-tabs,
body.rtl h3#order_review_heading,
body.rtl .woocommerce form .form-row label,
body.rtl .woocommerce form .form-row .select2-container,
body.rtl .woocommerce-billing-fields,
body.rtl .woocommerce-additional-fields,
body.rtl .woocommerce-info,
body.rtl form.login {
  text-align: right;
}
body.rtl .woocommerce .cart-collaterals .cart_totals,
body.rtl .woocommerce-page .cart-collaterals .cart_totals {
  float: right;
}
body.rtl .woocommerce-error::before {
  left: 1.5em;
}
body.rtl #payment #place_order,
body.rtl #payment #place_order {
  float: right;
}
body.rtl .woocommerce-form-login .woocommerce-Button {
  margin-left: 12px !important;
  margin-right: 0 !important;
}
body.rtl .product-list span.onsale {
  right: auto !important;
  left: 10px !important;
}
body.rtl .rs-breadcrumbs ul li.trail-end {
  padding-right: 8px;
  padding-left: 0;
}
body.rtl .breadcrumbs-inner .page-title:after {
  left: auto;
  right: 0;
}
body.rtl .breadcrumbs-inner {
  text-align: right;
}
body.rtl .text-end {
  text-align: left !important;
}
body.rtl .single-service .service-text .services-btn::before,
body.rtl .single-service .number-text,
body.rtl .sc-testimonial.sc-testimonilal_style2 .single-testimonial .testi-item .quote-icon,
body.rtl .full-width-header .sc-header .menu-area .header-address ul li i {
  left: auto;
}
body.rtl .single-service .service-text .services-btn:hover:before {
  right: 40px;
}
body.rtl .full-width-header .sc-header .menu-area .header-address ul li i {
  right: 0;
}
body.rtl .woocommerce-error::before,
body.rtl .sc-testimonilal_style1 .single-testimonial .testi-item .quote-icon {
  right: auto;
}
body.rtl .sc-testimonial.sc-testimonilal_style2 .single-testimonial .testi-item .quote-icon,
body.rtl .single-service .number-text {
  right: 20px;
}
body.rtl .sc-slider-area .slider-item .slide_content .slide-image {
  text-align: left;
}
body.rtl .sc-slider-area .slider-item .slide_content {
  left: -130px;
}
body.rtl .full-width-header .sc-header .sc-header-default.menu-area ul li.sc-quote-btn {
  margin-left: 0;
}
body.rtl .full-width-header .sc-header .topbar-area .topbar-contact li:last-child:before {
  right: 0;
}
body.rtl .full-width-header .sc-header .topbar-area .topbar-contact li:last-child {
  padding-left: 0;
  margin-left: 0;
  padding-right: 20px;
  margin-right: 20px;
}
body.rtl .full-width-header .sc-header .menu-area .header-address ul li {
  padding-left: 0;
}
body.rtl .full-width-header .sc-header .menu-area .header-address ul li {
  padding-right: 40px;
}
body.rtl .full-width-header .sc-header .menu-area .expand-btn-inner li > .sc-search,
body.rtl .full-width-header .sc-header .menu-area .dark-menu-area .expand-btn-inner li {
  padding-left: 20px;
}
body.rtl .full-width-header .sc-header .menu-area .dark-menu-area .expand-btn-inner li:last-child,
body.rtl .full-width-header .sc-header .menu-area .header-address ul li:last-child {
  padding-left: 0;
}
body.rtl .full-width-header .sc-header .menu-area .header-address ul li:first-child {
  margin-left: 40px;
}
body.rtl .full-width-header .sc-transparent-header .expand-btn-inner,
body.rtl .full-width-header.header-style2 .expand-btn-inner,
body.rtl .full-width-header .sc-header .menu-area.header-middle-area .expand-btn-inner {
  padding-right: 0;
}
body.rtl .sc-newslatter button {
  border-radius: 5px 0 0 5px;
}
body.rtl .sc-newslatter button,
body.rtl .full-width-header .sc-header .menu-area .nav-expander {
  left: 0;
}
body.rtl .full-width-header .sc-header .menu-area .nav-expander,
body.rtl nav.sc-sidebar-offcanvas,
body.rtl.nav-expanded nav,
body.rtl .full-width-header .sc-header .sc-sidebar-offcanvas {
  right: auto !important;
}
body.rtl .sc-newslatter button,
body.rtl .full-width-header .sc-header .sc-sidebar-offcanvas .close-btn #nav-close {
  right: auto;
}
body.rtl .full-width-header .sc-header .sc-sidebar-offcanvas .close-btn #nav-close {
  left: 20px;
}
body.rtl .full-width-header .sc-header .menu-area:not(.darkheader-area) .main-menu .sc-menu > ul.nav-menu > li:last-child {
  margin-left: 80px;
}
body.rtl .full-width-header .sc-header .menu-area .main-menu .sc-menu ul.nav-menu li:first-child {
  margin-right: 0;
}
body.rtl nav.sc-sidebar-offcanvas {
  left: -40em;
}
body.rtl .darkheader-area .sc-cart-area {
  margin-left: 0;
  margin-right: 18px;
}
body.rtl .darkheader-area .sc-cart-area:after {
  right: -23px;
}
body.rtl.nav-expanded nav {
  left: 0 !important;
}
body.rtl .full-width-header .sc-header .menu-area .header-address ul li:nth-child(2) {
  margin-right: 50px;
  margin-left: 0;
}
body.rtl .full-width-header .sc-header .menu-area .header-address ul li:nth-child(2)::before {
  right: -48px;
  left: auto;
}
body.rtl .sc-slider-area .slider-item .slide_content {
  text-align: right;
}
body.rtl .sc-blog.sc-blog-style2 .blog-item .blog-meta li i,
body.rtl .sc-testimonial.sc-testimonilal_style2 .single-testimonial .testi-item .author-img,
body.rtl .sc-blog .blog-item .blog-content .blog-meta li,
body.rtl .sc-blog2 .blog-item .blog-content .blog-meta li,
body.rtl .sc-service-style1 .service-icon,
body.rtl .sc-testimonial .single-testimonial .testi-item .quote-icon {
  margin-right: 0;
}
body.rtl .sc-service-style1 .service-icon {
  margin-left: 30px;
}
body.rtl .sc-testimonilal_style1 .single-testimonial .testi-item .quote-icon {
  left: 100px;
}
body.rtl .sc-tam-team .team-item-text .team-social li:last-child {
  margin-right: 0;
}
body.rtl .sc-blog .blog-item .blog-content .blog-meta li i,
body.rtl .sc-blog2 .blog-item .blog-content .blog-meta li i {
  padding-right: 0;
  padding-left: 10px;
}
body.rtl .sc-blog .blog-item .blog-content .blog-meta li,
body.rtl .sc-blog2 .blog-item .blog-content .blog-meta li {
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 0;
}
body.rtl .sc-blog .blog-item .blog-content .blog-btn,
body.rtl .sc-blog2 .blog-item .blog-content .blog-btn {
  transform: rotate(-180deg);
}
body.rtl .sc-video .popup-videos i {
  transform: rotate(-180deg);
}
body.rtl .sc-testimonial.sc-testimonilal_style2 .single-testimonial .testi-item .author-img {
  margin-left: 15px;
}
body.rtl .sc-blog.sc-blog-style2 .blog-item .blog-meta li i {
  margin-left: 10px;
}
body.rtl .sc-addon-accordion .elementor-accordion-icon.elementor-accordion-icon-right {
  float: left;
}
body.rtl .full-width-header .sc-header .topbar-area .social-icons li:last-child {
  padding-left: 0;
}
@media only screen and (max-width: 991px) {
  body.rtl .full-width-header .sc-header .dark-menu-area .expand-btn-inner li.nav-arrow {
    left: auto;
    right: 0;
  }
}
@media only screen and (max-width: 767px) {
  body.rtl .full-width-header .sc-header .menu-area .header-address ul li i,
  body.rtl .full-width-header .sc-header .header-middle-area .expand-btn-inner .header-address {
    display: none;
  }
}
